<!DOCTYPE html>
<html>
    <%- include("./partials/head" , {title:"JAMM Gaming"}) %>

    <body>        
        <%- include('./partials/header') %>
        <section class="banner">
            <img src="images/Banner.jpg" alt="Banner de ofertas">
        </section>
        
        <main>
            <section class="last-visit">
                <h3 class="categorias">Gaming</h3>
                <div class="products">
                    <% productosGaming.forEach(function(prod){ %>
                    <article class="objeto">
                        <a href="/productDetail/<%= prod.id %>"><img src="images/<%= prod.image %>" alt="Imagen" class="product_img"></a>
                        <div class="main-article">
                            <h4 class="description"><%= prod.name %></h4>
                        </div>
                    </article>   
                    <% }) %>           
                </div>        
            </section>
            <section class="offers">
                <h3 class="categorias">Accesorios</h3>
                <div class="products">
                    <% productosAccesorios.forEach(function(prod){ %>
                    <article class="objeto">
                        <a href="/productDetail/<%= prod.id %>"><img src="images/<%= prod.image %>" alt="Imagen" class="product_img"></a>
                        <div class="main-article">
                            <h4 class="description"><%= prod.name %></h4>
                        </div>
                    </article>
                    <% }) %>                         
                </div>  
            </section>

            <section class="offers">
                <h3 class="categorias">Dispositivos</h3>
                <div class="products">
                    <% productosDispositivos.forEach(function(prod){ %>
                    <article class="objeto">
                        <a href="/productDetail/<%= prod.id %>"><img src="images/<%= prod.image %>" alt="Imagen" class="product_img"></a>
                        <div class="main-article">
                            <h4 class="description"><%= prod.name %></h4>
                        </div>
                    </article>
                    <% }) %> 
                </div>  
            </section>
        </main>
        
        <%- include("./partials/footer") %>

    </body>
</html>