<!DOCTYPE html>
<html>
    <%- include("../partials/head" , {title:"Todos los productos"}) %>

    <body>
        <!-- Header -->
        <%- include("../partials/header") %>
        
        <section class="banner">
            <img src="images/Banner.jpg" alt="Banner de ofertas">
        </section>
        
        <main>
            <section class="last-visit">
                <h3 class="categorias">Todos los productos</h3>
                <div class="products-b products productos-corregidos">

                          <% products.forEach(function(products){ %> 

                                <article class="objetodos">

                                    <a href="/productDetail/<%= products.id %>"><img src="images/<%= products.image %>" alt="Imagen" class="product_img">
                                                           
                                    <div class="main-article">
                                <h4 class="description"><%= products.productName %></h4>
                                </div>
                                </article>
                                                            
                            <% }) %> 

                                </a>
                </div>
                    </section>
               
                    
          
         
        </main>
        
        <%- include("../partials/footer") %>

    </body>
</html>