<!DOCTYPE html>
<html>
    <%- include("../partials/head" , {title:"Producto"}) %>

    <body>
        <%- include("../partials/header") %>

        <main>
            <div class="small-container">
                <div class="row">
                    <div class="col-2">
                        <img src="/images/<%= products.image %>" alt="Imagen" class="product_img" width="100%"> 
                    </div>
                    <div class="col-2">
                        <div class="iconoFavoritos">
                        <a href="/productCart"><i class="far fa-heart"></i></a>
                        </div>
                        <div class="textoProducto">
                            <h3 class="negro"><%= products.productName %></h3>
                            <h4>$<%= products.price %></h4>
                            <p>En 12x de $<%= Math.round(products.price / 12) %></p>
                            <h5>Descripción de producto:</h5>
                            <p><%= products.description %></p>
                            <h5>Medios de pago:</h5>
                            <i class="fab fa-cc-visa"></i>
                            <i class="fab fa-cc-mastercard"></i>
                            <i class="fab fa-cc-amex"></i>
                        </div>
                        <div class="boton-comprar">
                            <form action="/productCart" method="POST">
                            <button type="submit" class="boton-formulario2">Comprar ahora</button>
                            </form>
                        </div>
                        <div class="boton-carrito">
                            <form action="/productCart" method="POST">
                            <button type="submit" class="boton-formulario2">Agregar al carrito</button>
                            </form>
                        </div>
                        <% if (locals.isLogged && locals.userLogged.category == 'admin') { %>
                        <div class="boton-editar">
                            <a href="/edit/<%= products.id %>">
                            <button type="submit" class="boton-formulario2">Editar</button>
                            </a>
                        </div>
                        <div class="boton-eliminar">
                            <form action="/delete/<%= products.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="boton-formulario2">Eliminar</button>
                            </form>
                        </div>

                        <% } %>

                    </div>
                </div>
            </div>
            <section class="productos-similares">
            <h3 class="negro">Productos similares</h3>
                <div class="row-2">
                    <article>
                        <a href="/productDetail"><img src="/images/Joystick.jpg" alt="Joystick" class="product_img" width="100%"></a>
                        <div class="descripProductSim">
                            <h5>Mando PS5</h5>
                            <p>$XXXX</p>
                        </div>                                       
                    </article>
                    <article>
                        <a href="/productDetail"><img src="/images/JuegoSpiderMan.jpg" alt="JuegoSpiderMan" class="product_img" width="100%"></a>
                        <div class="descripProductSim">
                            <h5>SpiderMan Miles Morales</h5>
                            <p>$XXXX</p>
                        </div>                                       
                    </article>
                    <article>
                        <a href="/productDetail"><img src="/images/Auris.jpg" alt="Auris" class="product_img" width="100%"></a>
                        <div class="descripProductSim">
                            <h5>Auriculares</h5>
                            <p>$XXXX</p>
                        </div>                                 
                    </article>
                </div>
            </section>
        </main>
        <%- include("../partials/footer") %>

    </body>
</html>